APP_NAME="Life & Care Passport"
APP_ENV=local
APP_DEBUG=true
APP_URL=https://life-passport-dev.example.com

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=life_care_passport_dev
DB_USERNAME=life_passport_app
DB_PASSWORD=change-me

STORAGE_PATH=/var/www/life-care-passport/storage
UPLOAD_MAX_MB=10
SESSION_NAME=life_care_passport_session
